# Python virtual environment
bin
etc
include
lib
pyvenv.cfg
share
src
__pycache__

# IDEs
.idea

# config files
trip_download_config.json
trip_parser_config.json

# example saved data
saved_data
tides_output