# Python virtual environment
bin
etc
include
lib
pyvenv.cfg
share
src
__pycache__

# IDEs
.idea

# MacOS
.DS_Store

# config files
config/*
!config/example_download_config.json
!config/example_trip_updates_parser_config.json
!config/example_vehicle_locations_parser_config.json

# example saved data
saved_data
tides_output